@font-face
    font-family 'icon'
    src url('~@/assets/fonts/icons/icons.eot?bluoj8')
    src url('~@/assets/fonts/icons/icons.eot?bluoj8#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/icons/icons.ttf?bluoj8') format('truetype'),
        url('~@/assets/fonts/icons/icons.woff?bluoj8') format('woff')
        url('~@/assets/fonts/icons/icons.svg?bluoj8#icon') format('svg')
    font-style normal
    font-weight normal

[class^="icon-"], [class*=" icon-"]
    font-family 'icon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-ruler:before
    content: "\e900"

.icon-measure:before
    content: "\e900"

.icon-length:before
    content: "\e900"

.icon-pin:before 
    content: "\e901"

.icon-location:before 
    content: "\e901"

.icon-map:before 
    content "\e901"

.icon-marker:before
    content "\e901"

.icon-transfer:before
    content "\e902"

.icon-arrows:before
    content "\e902"

.icon-search:before
    content "\e986"

.icon-equalizer:before
    content "\e992"

.icon-star-empty:before
    content "\e9d7"

.icon-cross:before
    content "\ea0f"

.icon-keyboard_arrow_left:before
    content "\e903"

.icon-lupa-5:before
    content "\e904"

.icon-rabstol1:before
    content "\e905"

.icon-chaypara:before
  content "\e906"

.icon-divan:before
  content "\e907"

.icon-dom:before
  content "\e908"

.icon-kaktus-3:before
  content "\e909"

.icon-karamel:before
    content "\e90a"

.icon-krovat:before
    content "\e90b"

.icon-rabstol:before
    content "\e90c"

.icon-shkafmal:before
    content "\e90d"

.icon-stul:before
    content "\e90e"

.icon-telega:before
    content "\e90f"

.icon-rouble:before
    content "\e910"

.icon-rub:before
    content "\e910"

.icon-ruble:before
    content "\e910"

.icon-long-arrow-right:before
    content "\e911"

.icon-long-arrow-left:before
    content "\e912"

