$dark-gray  = #3E3E3E
$white-gray = #A2A2A2
$red        = #DB3131
$black      = #000000
$white      = #FFFFFF

$header-background      = #F5F5F5
$cart-header-text       = #A2A2A2
$cart-button-background = #3E3E3E
$nav-background         = #DB3131